@import "./../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  padding: 42px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.text p {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
}

.textName {
  font-style: oblique;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 15px;
}

.link img {
  width: 10%;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.link a:hover {
  color: rgba(87, 108, 188, 0.42);
  transition: 0.4s;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}
